<!DOCTYPE html>
<html lang="en">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
  <style>  table, th, td {
        border: 1px solid black;
      }
    </style>
    
</head>
<body>
  <nav class="navbar dark p-1 bg-primary shadow-1g">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class=""d-flex role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <a href="/logout/" class="btn btn-online-success" type="submit">logout</button>
      </form>
    </div>
  </nav>

{% block start %}

{% endblock %}


</body>
</html>